#root{
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}
.viewComponent{
    padding: 8px 24px;
    height: 100%;
    box-sizing: border-box;
    background-color: #eaf9ff;
}
h3{
    line-height: 60px;
    color: #000;
}
p{
    
    color: #333;
}
.f24{
    font-size: 24px;
    color: blue;
}
.f20{
    font-size: 20px;
}
.f18{
    font-size: 18px;
    margin: 12px 0;
    color: red;
}
.f16{
    font-size: 16px;
    margin: 12px 0;
}